/**/node_modules
/**/.vscode

# typescript
/**/*.js
/**/*.d.ts
!/scripts/*.ts
# CDK Context & Staging files
/**/cdk.context.json
/**/.cdk.staging/
/**/cdk.out/
/**/*.tabl.json


#stuff
/**/vegeta.sh
/**/*.bin
/**/output.json

/config/config.json
/config/config.test*.json