/**/node_modules
/**/.vscode

# typescript
/**/*.js
/**/*.d.ts

# CDK Context & Staging files
/**/cdk.context.json
/**/.cdk.staging/
/**/cdk.out/
/**/*.tabl.json


#stuff
/**/vegeta.sh
/**/*.bin
/**/output.json